<script type="text/javascript" src="../../js/stocksAdded.js"></script>
<div>
	<div >
		<label class="col-form-label">Stock Symbol Search</label>
		<div class="row justify-content-md-center">
			<input type="text" class="col-7 form-control" placeholder="Company Name">
			<button type="button" class="col-4 btn btn-primary">Search</button>
		</div>
		
	</div>


	<div >
		<label for="Select2"></label>
			<select multiple class="form-control" id="Select2">
				<option>{{stctrl.option1}}</option>
				<option>{{stctrl.option2}}</option>
				<option>{{stctrl.option3}}</option>
				<option>{{stctrl.option4}}</option>
				<option>{{stctrl.option5}}</option>
				<option>{{stctrl.option6}}</option>
				<option>{{stctrl.option7}}</option>
				<option>{{stctrl.option8}}</option>
			</select>
	</div>
</div>