<script type="text/javascript" src="../../js/stocksAdded.js"></script>
<div>
	<div >
		<label class="col-form-label">Stock Symbol Search</label>
		<div class="row justify-content-md-center">
			<input ng-model="$scope.companyName" type="text" class="col-7 form-control" placeholder="Company Name">
			<button type="button" class="col-4 btn btn-primary" ng-click="$scope.getSymbols($scope.companyName)">Search</button>
		</div>
		
	</div>


	<div >
		<label for="Select2"></label>
			<select multiple class="form-control" id="Select2">
				<option ng-click="$scope.addStockToList()">{{$scope.option1}}</option>
				<option>{{option2}}</option>
				<option>{{option3}}</option>
				<option>{{option4}}</option>
				<option>{{option5}}</option>
				<option>{{option6}}</option>
				<option>{{option7}}</option>
				<option>{{option8}}</option>
			</select>
	</div>
</div>