<div ng-controller="stocksController as stctrl" class="showReportPartial" >
<div class="row">
	<div class="col-3">
		<div class="symbol " ng-include="'partials/loggedInPartials/symbolPartial.html'"></div>
		<div class="numberOfShares " ng-include="'partials/loggedInPartials/numberOfSharesPartial.html'"></div>
	</div>
		
		<div class="col-3 stocksAdded top-buffer" ng-include="'partials/loggedInPartials/stocksAddedPartial.html'"></div>
		<div class="col-3 portfolioList top-buffer" ng-include="'partials/loggedInPartials/portfolioListPartial.html'"></div>
		<div class="col-3 reportList top-buffer" ng-include="'partials/loggedInPartials/reportListPartial.html'"></div>

</div>
<div ng-include="'partials/loggedInPartials/showReportPartial.html'"></div>
</div>

	<div class="createPortfolio" ng-include="'partials/loggedInPartials/createPortfolioPartial.html'"></div>
	<div class="getReport" ng-include="'partials/loggedInPartials/getReportPartial.html'"></div>
	
	<div class="showGraph" ng-include="'partials/loggedInPartials/showGraphPartial.html'"></div>
	
	
